<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Book Details:</h1>
        <form method="post" action="/books">
            <label for="title">Book Title:</label>
            <input type="text" name="title" id="title" placeholder="Enter book title">
            
            <label for="author">Author:</label>
            <input type="text" name="author" id="author" placeholder="Enter author name">
            
            <label for="copies">No. of copies:</label>
            <input type="text" name="copies" id="copies" placeholder="Enter number of copies">
            
            <button>Add Book</button>
        </form>
    </div>
</body>
</html>
